@import "compass/css3"
@import "menu"
@import "variable"
@import "news"

.main-container
	width: 100%

.show-up
	+animation(show-up .8s ease-in)

.show-down
	+animation(show-down 1.2s ease-in)

.hide
	nav
		top: -70px

nav
	background-color: white
	width: 100%
	+box-shadow(0px 3px 5px rgba(#666, 0.3))
	z-index: 999
	//position: fixed
	//top: 0
	transition: top .4s ease-in-out

	ul
		+display-flex
		+align-items(center)
		+justify-content(center)
		font-size: 1rem
		list-style: none
		width: 100%
		margin: 0
		
		.nav
			text-decoration: none
			color: black
			display: inline-block
			margin: 0px 80px
			font-weight: 600

			&:hover
				color: $color-blue

			p
				margin: 0px
				font-weight: 400
				line-height: 10px
				



.logo
	width: 100px
	margin-top: 5px

.home-up-container
	+display-flex
	width: 100%
	background-image: url('../images/home-bg.jpg')
	background-size: cover
	position: relative
	height: 88vh
	justify-content: center
	align-items: center

	.float-container
		width: 80%
		height: 88vh

		.title
			font-size: 6vw
			color: white
			margin-left: 15%
			margin-bottom: 0px
			display: inline-block
			position: absolute
			z-index: 10

		.title1
			margin-top: 15%

		.title2
			margin-left: 25%
			margin-top: 23%

		.button-view-menu
			background-color: $color-blue
			margin-top: 40%
			margin-left: 25%
			border-bottom: solid 5px $color-dark-blue
			display: inline-block

			&:active
				border-bottom: 0px
				border-top: solid 5px $color-dark-blue

		img
			position: absolute

		.layer0
			width: 20%
			left: 55%
			top: 23%
			opacity: 0
			+animation-delay(.5s)
			+animation-fill-mode(forwards)
			
		.layer1
			width: 35%
			left: 53%
			top: 50%
			opacity: 0
			+animation-delay(.3s)
			+animation-fill-mode(forwards)

		.layer2
			width: 25%
			left: 65%
			top: 15%
			opacity: 0
			+animation-fill-mode(forwards)

.home-down-container
	width: 100%
	background-image: url('../images/home-news-bg.jpg')

.card-container
	+display-flex
	+justify-content(space-between)
	margin: 40px 100px

	.card
		+display-flex
		+flex-wrap(wrap)
		+justify-content(center)
		width: 30%
		background-color: white
		min-width: 290px
		+box-shadow(3px 3px 3px rgba(black, 0.5))
		+transition-duration(.3s)
		//cursor: pointer

		&:hover
			+translateY(-4px)
			+box-shadow(3px 3px 10px rgba(black, 0.8))
			+transition-duration(.3s)

		.card-img
			margin: 20px 20px
			height: 230px
			width: 90%
			+display-flex
			+justify-content(center)
			max-width: 300px

			img
			width: 100%
			overflow: hidden

		.card-title
			font-size: $title-small
			font-weight: 600
			width: 100%
			text-align: center
			padding: 5px 10px

		.card-line
			width: 30%
			height: 5px
			margin: 10px 0px
			background-color: $color-yellow

		.card-content
			margin: 10px 20px
			margin-bottom: 20px
			font-size: 0.9rem
			letter-spacing: 1px
.button-container
	width: 100%
	+display-flex
	+justify-content(center)

	.button-read-more
		background-color: $color-yellow
		border-bottom: solid 5px $color-dark-yellow
		margin-top: 80px
		display: inline-block


		&:active
			border-bottom: 0px
			border-top: solid 5px $color-dark-yellow

.transparent
	height: 40px

footer
	+display-flex
	+justify-content(space-between)
	align-items: center

	.icon-container
		width: 6%
		margin: 10px 30px

		img
			width: 100%

	.footer-right
		display: inline-block
		float: right
		align-items: center

		p
			margin: 2px 40px
			font-size: 0.8rem
			text-align: right


@keyframes show-up
	0%
		transform: translateY(10px)
		opacity: 0

	100%
		transform: translateY(0px)
		opacity: 1

@keyframes show-down
	0%
		transform: translateY(-25px)
		opacity: 0

	// 70%
	// 	transform: translateY(10px)
	// 	opacity: 0.7

	100%
		transform: translateY(0px)
		opacity: 1