/* line 10, ../sass/_variable.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  position: relative;
  font-family: "Microsoft JhengHei";
}

/* line 18, ../sass/_variable.sass */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 22, ../sass/_variable.sass */
a {
  text-decoration: none;
}

/* line 25, ../sass/_variable.sass */
a:visited {
  text-decoration: none;
}

/* line 28, ../sass/_variable.sass */
a:link {
  text-decoration: none;
}

/* line 31, ../sass/_variable.sass */
.button {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 8px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15vw;
}

/* line 39, ../sass/_variable.sass */
.title-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 46, ../sass/_variable.sass */
.title-container .line {
  height: 3px;
  background-color: white;
  display: inline-block;
  width: 20%;
  transform: translateY(-8px);
  margin: 0px 10px;
}
/* line 54, ../sass/_variable.sass */
.title-container h3 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  letter-spacing: 3px;
}

/* line 4, ../sass/about.sass */
.about-up-container {
  background-image: url("../images/about-1.jpg");
  background-size: cover;
  height: 400px;
}

/* line 9, ../sass/about.sass */
.about-medium-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
/* line 15, ../sass/about.sass */
.about-medium-container .line {
  background-color: #015fa7;
}
/* line 18, ../sass/about.sass */
.about-medium-container h3 {
  color: #015fa7;
}
/* line 21, ../sass/about.sass */
.about-medium-container .about-content {
  width: 60%;
  margin-bottom: 60px;
}

/* line 25, ../sass/about.sass */
.about-big-container {
  background-image: url("../images/about-1.jpg");
  background-size: cover;
  height: 400px;
}
