/* line 10, ../sass/_variable.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  position: relative;
  font-family: "Microsoft JhengHei";
}

/* line 18, ../sass/_variable.sass */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 22, ../sass/_variable.sass */
a {
  text-decoration: none;
}

/* line 25, ../sass/_variable.sass */
a:visited {
  text-decoration: none;
}

/* line 28, ../sass/_variable.sass */
a:link {
  text-decoration: none;
}

/* line 32, ../sass/_variable.sass */
.nav:after {
  content: "";
  position: absolute;
  width: 105%;
  left: -2px;
  bottom: -13px;
  height: 3px;
  transform: scaleX(0);
  background-color: #015fa7;
  transition: all 0.2s ease;
  opacity: 0.6;
}

/* line 43, ../sass/_variable.sass */
.nav:hover {
  color: #015fa7;
}
/* line 46, ../sass/_variable.sass */
.nav:hover::after {
  transform: scaleX(1);
}

/* line 49, ../sass/_variable.sass */
.nav[data-active="on"]:after {
  transform: scaleX(1);
}

/* line 51, ../sass/_variable.sass */
.nav[data-active="on"] {
  color: #015fa7;
}

/* line 55, ../sass/_variable.sass */
.button {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 8px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15vw;
}

/* line 63, ../sass/_variable.sass */
.title-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 70, ../sass/_variable.sass */
.title-container .line {
  height: 3px;
  background-color: white;
  display: inline-block;
  width: 20%;
  transform: translateY(-8px);
  margin: 0px 10px;
}
/* line 78, ../sass/_variable.sass */
.title-container h3 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  letter-spacing: 3px;
}

/* line 4, ../sass/_menu.sass */
.recom-container {
  background-color: #015fa7;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 11, ../sass/_menu.sass */
.recom-container .title-container {
  width: 70%;
}
/* line 14, ../sass/_menu.sass */
.recom-container .center-container {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* line 19, ../sass/_menu.sass */
.recom-container .center-container .recom-up {
  margin-right: 100px;
  display: -webkit-flex;
  display: flex;
}
/* line 23, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks {
  width: 50%;
  display: -webkit-flex;
  display: flex;
}
/* line 27, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-img-container {
  width: 50%;
}
/* line 30, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-img-container .drink-img {
  width: 100%;
}
/* line 34, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-content-container {
  width: 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}
/* line 40, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-content-container .drink-content {
  width: 100%;
  color: white;
  letter-spacing: 2px;
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}
/* line 46, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-content-container .drink-title-CH {
  font-size: 1.2rem;
}
/* line 49, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-content-container .drink-title-EN {
  color: #ffef34;
  margin-top: 5px;
  font-size: 0.9rem;
}
/* line 54, ../sass/_menu.sass */
.recom-container .center-container .recom-drinks .drink-content-container .drink-price {
  margin-top: 20px;
}
/* line 59, ../sass/_menu.sass */
.recom-container .center-container .recom-down {
  margin-left: 100px;
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
}

/* line 64, ../sass/_menu.sass */
.menu-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 70, ../sass/_menu.sass */
.menu-container h3 {
  font-size: 1.7rem;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 3px;
  width: 100%;
  margin-top: 10px;
}
/* line 79, ../sass/_menu.sass */
.menu-container .menu-center-container {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 40px;
}
/* line 84, ../sass/_menu.sass */
.menu-container .menu-center-container img {
  width: 100%;
}
/* line 87, ../sass/_menu.sass */
.menu-container .menu-bg {
  position: absolute;
  width: 50%;
  opacity: 0.3;
  bottom: 0;
  right: 0;
}

/* line 94, ../sass/_menu.sass */
.search-phone-container {
  background-image: url("../images/search-phone-bg.jpg");
  background-size: cover;
  height: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 102, ../sass/_menu.sass */
.search-phone-container .button-search-phone {
  background-color: #015fa7;
  border-bottom: solid 5px #00487f;
}
/* line 106, ../sass/_menu.sass */
.search-phone-container .button-search-phone:active {
  border-bottom: 0px;
  border-top: solid 5px #00487f;
}

/* line 4, ../sass/_news.sass */
.news-container {
  background-color: #015fa7;
}
/* line 7, ../sass/_news.sass */
.news-container .card-container {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 10, ../sass/_news.sass */
.news-container .card-container .card-up-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 14, ../sass/_news.sass */
.news-container .card-container .card-down-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 80px;
}
/* line 19, ../sass/_news.sass */
.news-container .page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 80px;
}
/* line 24, ../sass/_news.sass */
.news-container .page-container .choose-page {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  margin: 0px 5px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
/* line 35, ../sass/_news.sass */
.news-container .page-container .choose-page:hover {
  background-color: #ffef34;
}
/* line 38, ../sass/_news.sass */
.news-container .page-container .left-arrow {
  margin-right: 30px;
}
/* line 41, ../sass/_news.sass */
.news-container .page-container .right-arrow {
  margin-left: 30px;
}

/* line 6, ../sass/main.sass */
.main-container {
  width: 100%;
}

/* line 9, ../sass/main.sass */
.show-up {
  -moz-animation: show-up 0.8s ease-in;
  -webkit-animation: show-up 0.8s ease-in;
  animation: show-up 0.8s ease-in;
}

/* line 12, ../sass/main.sass */
.show-down {
  -moz-animation: show-down 1.2s ease-in;
  -webkit-animation: show-down 1.2s ease-in;
  animation: show-down 1.2s ease-in;
}

/* line 16, ../sass/main.sass */
.hide nav {
  top: -70px;
}

/* line 19, ../sass/main.sass */
nav {
  background-color: white;
  width: 100%;
  -moz-box-shadow: 0px 3px 5px rgba(102, 102, 102, 0.3);
  -webkit-box-shadow: 0px 3px 5px rgba(102, 102, 102, 0.3);
  box-shadow: 0px 3px 5px rgba(102, 102, 102, 0.3);
  z-index: 999;
  transition: top 0.4s ease-in-out;
}
/* line 28, ../sass/main.sass */
nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 1rem;
  list-style: none;
  width: 100%;
  margin: 0;
}
/* line 37, ../sass/main.sass */
nav ul .nav {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0px 80px;
  font-weight: 600;
}
/* line 44, ../sass/main.sass */
nav ul .nav:hover {
  color: #015fa7;
}
/* line 47, ../sass/main.sass */
nav ul .nav p {
  margin: 0px;
  font-weight: 400;
  line-height: 10px;
}

/* line 55, ../sass/main.sass */
.logo {
  width: 100px;
  margin-top: 5px;
}

/* line 59, ../sass/main.sass */
.home-up-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-image: url("../images/home-bg.jpg");
  background-size: cover;
  position: relative;
  height: 88vh;
  justify-content: center;
  align-items: center;
}
/* line 69, ../sass/main.sass */
.home-up-container .float-container {
  width: 80%;
  height: 88vh;
}
/* line 73, ../sass/main.sass */
.home-up-container .float-container .title {
  font-size: 6vw;
  color: white;
  margin-left: 15%;
  margin-bottom: 0px;
  display: inline-block;
  position: absolute;
  z-index: 10;
}
/* line 82, ../sass/main.sass */
.home-up-container .float-container .title1 {
  margin-top: 15%;
}
/* line 85, ../sass/main.sass */
.home-up-container .float-container .title2 {
  margin-left: 25%;
  margin-top: 23%;
}
/* line 89, ../sass/main.sass */
.home-up-container .float-container .button-view-menu {
  background-color: #015fa7;
  margin-top: 40%;
  margin-left: 25%;
  border-bottom: solid 5px #00487f;
  display: inline-block;
}
/* line 96, ../sass/main.sass */
.home-up-container .float-container .button-view-menu:active {
  border-bottom: 0px;
  border-top: solid 5px #00487f;
}
/* line 100, ../sass/main.sass */
.home-up-container .float-container img {
  position: absolute;
}
/* line 103, ../sass/main.sass */
.home-up-container .float-container .layer0 {
  width: 20%;
  left: 55%;
  top: 23%;
  opacity: 0;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 111, ../sass/main.sass */
.home-up-container .float-container .layer1 {
  width: 35%;
  left: 53%;
  top: 50%;
  opacity: 0;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 119, ../sass/main.sass */
.home-up-container .float-container .layer2 {
  width: 25%;
  left: 65%;
  top: 15%;
  opacity: 0;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 126, ../sass/main.sass */
.home-down-container {
  width: 100%;
  background-image: url("../images/home-news-bg.jpg");
}

/* line 130, ../sass/main.sass */
.card-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 40px 100px;
}
/* line 135, ../sass/main.sass */
.card-container .card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  min-width: 290px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 146, ../sass/main.sass */
.card-container .card:hover {
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 151, ../sass/main.sass */
.card-container .card .card-img {
  margin: 20px 20px;
  height: 230px;
  width: 90%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  overflow: hidden;
}
/* line 163, ../sass/main.sass */
.card-container .card .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}
/* line 170, ../sass/main.sass */
.card-container .card .card-line {
  width: 30%;
  height: 5px;
  margin: 10px 0px;
  background-color: #ffef34;
}
/* line 176, ../sass/main.sass */
.card-container .card .card-content {
  margin: 10px 20px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* line 181, ../sass/main.sass */
.button-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 186, ../sass/main.sass */
.button-container .button-read-more {
  background-color: #ffef34;
  border-bottom: solid 5px #ddcf2a;
  margin-top: 80px;
  display: inline-block;
}
/* line 193, ../sass/main.sass */
.button-container .button-read-more:active {
  border-bottom: 0px;
  border-top: solid 5px #ddcf2a;
}

/* line 197, ../sass/main.sass */
.transparent {
  height: 40px;
}

/* line 200, ../sass/main.sass */
footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
/* line 205, ../sass/main.sass */
footer .icon-container {
  width: 6%;
  margin: 10px 30px;
}
/* line 209, ../sass/main.sass */
footer .icon-container img {
  width: 100%;
}
/* line 212, ../sass/main.sass */
footer .footer-right {
  display: inline-block;
  float: right;
  align-items: center;
}
/* line 217, ../sass/main.sass */
footer .footer-right p {
  margin: 2px 40px;
  font-size: 0.8rem;
  text-align: right;
}

@keyframes show-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes show-down {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
