/* line 10, ../sass/_variable.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  position: relative;
  font-family: "Microsoft JhengHei";
}

/* line 18, ../sass/_variable.sass */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 22, ../sass/_variable.sass */
a {
  text-decoration: none;
}

/* line 25, ../sass/_variable.sass */
a:visited {
  text-decoration: none;
}

/* line 28, ../sass/_variable.sass */
a:link {
  text-decoration: none;
}

/* line 31, ../sass/_variable.sass */
.button {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 8px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15vw;
}

/* line 39, ../sass/_variable.sass */
.title-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 46, ../sass/_variable.sass */
.title-container .line {
  height: 3px;
  background-color: white;
  display: inline-block;
  width: 20%;
  transform: translateY(-8px);
  margin: 0px 10px;
}
/* line 54, ../sass/_variable.sass */
.title-container h3 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  letter-spacing: 3px;
}

/* line 4, ../sass/map.sass */
.map-container {
  width: 100%;
  height: 87vh;
  display: -webkit-flex;
  display: flex;
}
/* line 9, ../sass/map.sass */
.map-container .map-left {
  width: 40%;
  height: 100%;
}
/* line 13, ../sass/map.sass */
.map-container .map-left .search-box {
  width: 100%;
  background-color: #015fa7;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 21, ../sass/map.sass */
.map-container .map-left .search-box input {
  background-color: #015fa7;
  color: white;
  width: 85%;
  padding: 5px 5px;
  border: none;
  border-bottom: solid 1px white;
  margin-left: 20px;
}
/* line 30, ../sass/map.sass */
.map-container .map-left .search-box input:focus {
  outline: none;
}
/* line 33, ../sass/map.sass */
.map-container .map-left .search-box input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/* line 36, ../sass/map.sass */
.map-container .map-left .search-box .search-button {
  display: inline-block;
  width: 50px;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}
/* line 44, ../sass/map.sass */
.map-container .map-left .search-box .search-button img {
  width: 25px;
  -moz-transform: translate(12px, 6px);
  -ms-transform: translate(12px, 6px);
  -webkit-transform: translate(12px, 6px);
  transform: translate(12px, 6px);
}
/* line 48, ../sass/map.sass */
.map-container .map-left .store-container {
  background-color: #f2f2f2;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
  height: 79vh;
}
/* line 56, ../sass/map.sass */
.map-container .map-left .store-container::-webkit-scrollbar {
  width: 8px;
}
/* line 59, ../sass/map.sass */
.map-container .map-left .store-container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
/* line 62, ../sass/map.sass */
.map-container .map-left .store-container::-webkit-scrollbar-thumb {
  background-color: rgba(1, 95, 167, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 66, ../sass/map.sass */
.map-container .map-left .store-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1, 95, 167, 0.5);
}
/* line 69, ../sass/map.sass */
.map-container .map-left .store-container .store-content {
  width: 60%;
  margin-top: 50px;
}
/* line 75, ../sass/map.sass */
.map-container .store {
  margin-bottom: 20px;
  border-bottom: solid 1px white;
  padding-bottom: 20px;
}
/* line 80, ../sass/map.sass */
.map-container .store .store-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
/* line 85, ../sass/map.sass */
.map-container .store .store-detial {
  margin-bottom: 5px;
}
/* line 90, ../sass/map.sass */
.map-container .store .addr img {
  width: 15px;
  margin-left: 10px;
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
/* line 95, ../sass/map.sass */
.map-container .store .addr:before {
  content: url("../images/place-icon.png");
  display: inline-block;
  margin-right: 8px;
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
/* line 101, ../sass/map.sass */
.map-container .store .phone:before {
  content: url("../images/phone-icon.png");
  display: inline-block;
  margin-right: 8px;
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
/* line 110, ../sass/map.sass */
.map-container .map-right {
  width: 60%;
  height: 100%;
}
